BOT_TOKEN=
ADMIN_BOT_TOKEN=
ADMIN_TG_USER_IDS=
BOT_USERNAME=
MONGODB_URL=
MONGODB_DBNAME=
PAYMENT_TOKEN=
POSTHOG_API_KEY=
POSTHOG_HOST=
SENTRY_DSN=
STARS_PER_RUB=
TELEGRAM_HTTP_PROXY=
TELEGRAM_PROXY_ENABLED=
